body{
    font-family: 'Poppins';
}

.cont-banner{
    width: 100%;
    height: 480px;
    background: #202255;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 4px 100px rgb(61, 65, 194);
}

.cont-banner .icons{
    filter: drop-shadow(0 15px 0 rgba(0, 0, 0, 0.448));
    width: 454px;
    height: 318px;
    margin-top: 0px;
    margin-right: 20px;
}

.cont-banner a:hover{
    background: #4c63ca;
}


@media (max-width: 928px){
    .cont-banner .cont-text{
        padding-right: 0;
    }
}

@media (max-width: 769px){
    section{
        top: -10px;
    }
    .cont-banner{
        height: 850px;
        flex-direction: column;
        margin-left: 0;
    }

    .cont-texts{
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .cont-texts p{
        text-align: center;
    }

    .cont{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .icons{
        margin-bottom: 50px;
    }
}

.list-content{
    width: 90%;
    height: auto;
}

.list-title{
    width: 100%;
    height: 80px;
    background: #0c0e1e71;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: relative;
    border-bottom: 1px solid white;
    padding-left: 15px;
}

.list-title span{
    padding: 8px 20px 8px 20px;
    border-radius: 100%;
    background: #4c63ca;
    font-size: 25px;
    font-weight: 600;
    color: antiquewhite;
}

.list-title h1{
    font-size: 20px;
    color: antiquewhite;
}

.list-title i{
    font-size: 25px;
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
    padding: 28px 25px 28px 25px;
    color: azure;
    transition: all .3s ease-in-out;
}

.list-title:hover {
    background: #252a3d;
}

.leccion-content{
    display: none;
    display: grid;
    place-items: center;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    
    border-radius: 0 0 8px 8px;
}

.show{
    display: block;
}

.rotate {
    transform: rotate(0deg);
}

.list-lesson{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 30px;
    background: #cfcfcf; 
    border-radius: 8px;
    width: 97%;
}

.list-lesson span{
    padding-bottom: 20px;
}

.list-lesson .info-lesson{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.list-lesson .info-lesson div{
    display: flex;
    gap: 110px;
    width: 50%;
    align-items: center;

}

.list-lesson .info-lesson a{
    background:#4c63ca;
    padding: 10px 20px 10px 20px;
}




